@font-face {
  font-family: "Vintage";
  src: url("/fonts/vintage.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.font-vintage {
  font-family: "Vintage" !important;
}

.grid-section {
  display: grid;
  grid-template-rows: 1fr 1fr 1.3fr 1.3fr;
  grid-template-columns: 1fr 1fr;
}

.Genders-first {
  grid-column: 1/3;
}
.Genders-second {
  grid-column: 1/3;
}
.Genders-third {
  grid-column: 1/2;
  grid-row: 3/4;
}
.Genders-fourth {
  grid-column: 1/2;
  grid-row: 4/5;
}
.Genders-fifth {
  grid-column: 2/3;
  grid-row: 3/4;
}
.Genders-sixth {
  grid-column: 2/3;
  grid-row: 4/5;
}

.GenderMainGapping {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  grid-template-rows: auto;
  row-gap: 53px;
}

@media screen and (min-width: 740px) {
  .GenderMainGapping {
    transition: 0.5s ease-in-out;

    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1150px) {
  .GenderMainGapping {
    transition: 0.5s ease-in-out;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.animation-on {
  transition: 0.5s ease-in-out;
  animation: filterOn 0.5s forwards;
}
.animation-off {
  transition: 0.5s ease-in-out;
  animation: filterOff 0.5s forwards;
}

@keyframes filterOff {
  from {
    display: flex;
    left: 0px;
  }
  to {
    display: none;
    left: -240px;
  }
}

@keyframes filterOn {
  from {
    display: none;
    left: -240px;
  }
  to {
    display: flex;
    left: 0px;
  }
}
